/* body of the html page */
body {
    background-image: url('healthyFood.jpg');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; 

    overflow: hidden;
}

/* title of the html page */
h1 {
    color:#090731;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: #090731;
    font-size: 60px;
    text-shadow: 3px 3px #7ab352;
}

/* position of the body section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login and signup box */
.login-signup{
    background-color: rgb(255, 255, 255, 0.7);
    width: 45%;
    align-items: center;
    border-radius: 12px;
    text-align: center;

    color:#090731; 
    text-shadow: #090731;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* "Log In" editing */
.login {
    font-size: 45px;
}

/* "Username / Email" editing */
.username {
    font-weight: normal;
}

/* username textbox editing */
input[type="text"] {
    width: 300px;
    height: 15px;
}

/* "Password" editing */
.password {
    font-weight: normal;
}

/* password textbox editing */
input[type="password"] {
    width: 300px;
    height: 15px;
}

/* "Forgot password?" editing */
.login-forgot {
    font-weight:normal;
    font-size: 12px;
}

/* "New Here? Sign Up! editing */
.signup {
    font-size: 45px;
}

/* buttons settings */
.button {
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    margin-top:10px;
    width: 50%;
    border-radius: 12px;
    transition-duration: 0.4s;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    background-color: #090731; 
    color: white;
}
 /* setting size for the forgot-password button */
.login-forgot {
    font-size: 10px;
}